<?xml version="1.0"?>
<model>
  <name>uav_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>litianshun</name>
    <email>litianshun.cn@gmail.com</email>
  </author>
  <description>Custom UAV base model created and maintained by litianshun.</description>
</model>
